In [1]:
import pandas as pd
import time
import tqdm
import numpy as np

In [2]:
start = time.time()
df = pd.read_csv('datasets/KT3_merged.csv')
print(time.time() - start)

42.676748275756836

In [3]:
df['normalize_timestamp'] = (df['timestamp'] / 86400000).astype(int)

In [4]:
df

,timestamp,action_type,item_id,source,user_answer,platform,user_id,normalize_timestamp
0,1565096151269,enter,b3544,diagnosis,NaN,mobile,1,18114
1,1565096187972,respond,q5012,diagnosis,b,mobile,1,18114
2,1565096194904,submit,b3544,diagnosis,NaN,mobile,1,18114
3,1565096195001,enter,b3238,diagnosis,NaN,mobile,1,18114
4,1565096218682,respond,q4706,diagnosis,c,mobile,1,18114
...,...,...,...,...,...,...,...,...
89270649,1574240990337,enter,b5352,sprint,NaN,mobile,837094,18220
89270650,1574241382243,respond,q7454,sprint,d,mobile,837094,18220
89270651,1574241397373,submit,b5352,sprint,NaN,mobile,837094,18220
89270652,1574241397417,enter,e5352,sprint,NaN,mobile,837094,18220
89270653,1574241455073,quit,e5352,sprint,NaN,mobile,837094,18220

In [5]:
df['action_type'].value_counts()

enter      32943087
respond    23384480
submit     16488061
quit       16455026
Name: action_type, dtype: int64

Important notes:

Num enter = num submit + num quit

--> When you enter, you either submit or you quit, so we know the time spend each time by using time submit - time enter before that.

# Check time spend everyday by using enter, submit and quit

In [6]:
df = df[df['action_type'].isin(['enter', 'submit', 'quit'])]

In [7]:
df.index = range(len(df))

In [8]:
df

,timestamp,action_type,item_id,source,user_answer,platform,user_id,normalize_timestamp
0,1565096151269,enter,b3544,diagnosis,NaN,mobile,1,18114
1,1565096194904,submit,b3544,diagnosis,NaN,mobile,1,18114
2,1565096195001,enter,b3238,diagnosis,NaN,mobile,1,18114
3,1565096223029,submit,b3238,diagnosis,NaN,mobile,1,18114
4,1565096223119,enter,b2898,diagnosis,NaN,mobile,1,18114
...,...,...,...,...,...,...,...,...
65886169,1574240876071,quit,e5308,sprint,NaN,mobile,837094,18220
65886170,1574240990337,enter,b5352,sprint,NaN,mobile,837094,18220
65886171,1574241397373,submit,b5352,sprint,NaN,mobile,837094,18220
65886172,1574241397417,enter,e5352,sprint,NaN,mobile,837094,18220
65886173,1574241455073,quit,e5352,sprint,NaN,mobile,837094,18220

In [9]:
df['time_session'] = df['timestamp'].diff().copy(deep=True)

/home/hungto/anaconda3/envs/arcface/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
df

,timestamp,action_type,item_id,source,user_answer,platform,user_id,normalize_timestamp,time_session
0,1565096151269,enter,b3544,diagnosis,NaN,mobile,1,18114,NaN
1,1565096194904,submit,b3544,diagnosis,NaN,mobile,1,18114,43635.0
2,1565096195001,enter,b3238,diagnosis,NaN,mobile,1,18114,97.0
3,1565096223029,submit,b3238,diagnosis,NaN,mobile,1,18114,28028.0
4,1565096223119,enter,b2898,diagnosis,NaN,mobile,1,18114,90.0
...,...,...,...,...,...,...,...,...,...
65886169,1574240876071,quit,e5308,sprint,NaN,mobile,837094,18220,10292.0
65886170,1574240990337,enter,b5352,sprint,NaN,mobile,837094,18220,114266.0
65886171,1574241397373,submit,b5352,sprint,NaN,mobile,837094,18220,407036.0
65886172,1574241397417,enter,e5352,sprint,NaN,mobile,837094,18220,44.0
65886173,1574241455073,quit,e5352,sprint,NaN,mobile,837094,18220,57656.0

In [11]:
df.to_csv('KT3_intermediate.csv', index=False)

Restart the kernel and run above

In [2]:
df = pd.read_csv('KT3_intermediate.csv')

In [3]:
df = df[df.index % 2 != 0]

In [4]:
df

,timestamp,action_type,item_id,source,user_answer,platform,user_id,normalize_timestamp,time_session
1,1565096194904,submit,b3544,diagnosis,NaN,mobile,1,18114,43635.0
3,1565096223029,submit,b3238,diagnosis,NaN,mobile,1,18114,28028.0
5,1565096295925,submit,b2898,diagnosis,NaN,mobile,1,18114,72806.0
7,1565096341309,submit,b3361,diagnosis,NaN,mobile,1,18114,45297.0
9,1565096403465,submit,b5060,diagnosis,NaN,mobile,1,18114,62070.0
...,...,...,...,...,...,...,...,...,...
65886165,1574239040250,quit,e784,sprint,NaN,mobile,837094,18220,15373.0
65886167,1574240865726,submit,b5308,sprint,NaN,mobile,837094,18220,121514.0
65886169,1574240876071,quit,e5308,sprint,NaN,mobile,837094,18220,10292.0
65886171,1574241397373,submit,b5352,sprint,NaN,mobile,837094,18220,407036.0
65886173,1574241455073,quit,e5352,sprint,NaN,mobile,837094,18220,57656.0

In [5]:
df_groupby_result = df.groupby(['user_id', 'normalize_timestamp'],as_index=False)['time_session'].sum()

In [6]:
df_groupby_result['time_spend'] = (df_groupby_result['time_session'] / 1000).astype('int64')

In [7]:
df_groupby_result['day'] = df_groupby_result['normalize_timestamp']

In [8]:
df_groupby_result

        user_id  normalize_timestamp  time_session  time_spend    day
0             1                18114     1957930.0        1957  18114
1             1                18115     1467496.0        1467  18115
2             1                18117     1284095.0        1284  18117
3             1                18118      547611.0         547  18118
4             1                18119      663644.0         663  18119
...         ...                  ...           ...         ...    ...
913384   833739                18227      174118.0         174  18227
913385   833957                18227      221861.0         221  18227
913386   834027                18227      233769.0         233  18227
913387   834443                18227      479291.0         479  18227
913388   837094                18220     1101277.0        1101  18220

[913389 rows x 5 columns]

In [9]:
df_groupby_result = df_groupby_result.drop(['normalize_timestamp', 'time_session'], axis=1)

In [11]:
df_groupby_result = df_groupby_result[['user_id', 'day', 'time_spend']]

In [12]:
df_groupby_result.to_csv('KT3_timespend_user_each_day.csv', index=False)